.mainSection {
  padding: 75px 0 0;
  @include mobile() {
    padding: 60px 0 0;
  }

  &:first-of-type {
    padding: 45px 0 0;
    @include mobile() {
      padding-top: 45px;
    }
  }

  .drawer:nth-child(2n) {
    &:after {
      background: url("../gfx/circ-pink.svg");
      background-size: contain;
    }
  }

  .locker {
    padding-left: 135px;
    text-align: left;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    min-height: 130px;
    @include mobile() {
      &:nth-of-type(2n) {
        align-items: flex-end;
        text-align: right;
        padding-left: 0;
        padding-right: 135px;

        &:after,
        &:before {
          left: unset !important;
          right: 0;
        }

        .locker__image {
          right: 7.5px;
          left: unset;
        }
      }
    }
    @include modifier(inv) {
      align-items: flex-end;
      text-align: right;
      padding-left: 0;
      padding-right: 135px;

      .locker__image {
        left: unset !important;
        right: 7.5px !important;
      }

      &:after,
      &:before {
        left: unset !important;
        right: 0;
      }
      @include mobile() {
        &:nth-of-type(2n) {
          align-items: flex-start;
          text-align: left;
          padding-left: 135px;
          padding-right: 0;

          &:after,
          &:before {
            right: unset !important;
            left: 0 !important;
          }

          .locker__image {
            right: unset !important;
            left: 7.5px !important;
          }
        }
      }
    }

    &:after {
      content: '';
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      left: 0;
      top: 5px;
      background: url("../gfx/circ-blue.svg");
      background-size: contain;
    }

    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 0;
      top: 5px;
      margin: 10px;
      background-repeat: no-repeat;
    }
    @include element(image) {
      display: block;
      width: 105px;
      height: 105px;
      padding-bottom: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      left: 7.5px;
      position: absolute;
      background-position: 50% 50%;
      border-radius: 100%;
    }
    @include element(container) {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
    }
  }

  .brush {
    font-family: $caveat;
    font-size: 125%;
    @include modifier(pink) {
      color: $color-oct-pink;
    }
  }

  .btn {
    border: 1px solid $color-oct-blue;
    background: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: $color-oct-blue !important;

    &:active,
    &:focus,
    &:hover {
      background: $color-oct-blue !important;
      color: $color-white !important;
      border: 1px solid $color-oct-blue !important;
      outline: 0;
    }
    @include modifier(full) {
      background: $color-oct-blue;
      color: $color-white !important;

      &:active,
      &:focus,
      &:hover {
        background: none !important;
        color: $color-oct-blue !important;
        outline: 0;
      }
    }
  }

  .lead {
    font-size: 1.15em;
    font-weight: bold;
  }

  .text-black {
    color: $color-black;
  }

  .text-pink {
    color: $color-oct-pink;
  }

  .text-blue {
    color: $color-oct-blue;
  }

  .cross-list {
    list-style-image: url("../gfx/schulke-cross.svg");
    list-style-position: outside;
    color: $color-oct-pink;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 120%;

    li {
      margin-left: 45px;
      line-height: 1.5;
    }
    @include modifier(double) {
      columns: 2;
      display: block;

      li {
        margin-left: 30px;
        line-height: 1.5;
      }
    }
    @include modifier(clickable) {
      li {
        cursor: pointer;

        &:active,
        &:hover {
          color: $color-oct-blue;
        }
      }
    }
    @include mobile() {
      list-style-position: inside;
      flex-flow: column wrap;
      max-width: 320px;
      text-align: left;
      margin: 0 auto;
      columns: 2;
      display: block;

      li {
        margin: 0;
      }
    }
  }
  @include mobile() {
    .ordnung-1 {
      order: 1;
    }

    .ordnung-2 {
      order: 2;
    }

    .ordnung-3 {
      order: 3;
    }
  }
}

.cross-list-drawer {
  display: none;
  font-weight: bold;
  margin-top: 15px;

  &-container {
    border-top: 1px solid $color-oct-blue;
    min-height: 45px;
    margin-top: 15px;
  }
}

.img-placement {
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 320px;
  height: 100%;
  margin: 0 auto;

  &:before {
    content: "";
    display: block;
    padding-bottom: 70%;
  }
  @include element(logo) {
    background-image: url("../gfx/logo-octenicare.svg");
    max-width: 270px;

    &:before {
      padding-bottom: 30%;
    }
  }
  @include element(infinity) {
    background-image: url("../gfx/octenicare-tuba-min.png");
    max-width: 480px;
    z-index: 10;
    transform: rotate(-10deg);
    cursor: pointer;
    padding-bottom: 75%;

    &:hover {
      transform: rotate(0deg) scale(1.1, 1.1);
      transition: all 0.25s ease-in-out;
    }

    &:hover + .img-placement__infinityExtra::before {
      animation: myRotation 3s ease-in-out infinite;
    }

    &:after,
    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      padding-bottom: 15%;
    }

    &:before {
      background: url("../gfx/spirala.svg") 50% 50% no-repeat;
      background-size: contain;
      top: 70%;
      left: 18%;
    }

    &:after {
      background: url("../gfx/spirala.svg") 50% 50% no-repeat;
      background-size: contain;
      top: 70%;
      left: 62.5%;
      transform: scaleX(-1);
      filter: FlipH;
    }
  }
  @include element(infinityExtra) {
    max-width: 480px;
    width: 100%;
    z-index: 1;
    position: absolute;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      content: '';
      padding-bottom: 80%;
      background-image: url("../gfx/8.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  @include element(infinity-ii) {
    background-image: url("../gfx/octenicare-infinity-min.png");
    max-width: 320px;
    margin-bottom: 15px;

    &:before {
      padding-bottom: 80%;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 25%;
      background-image: url("../gfx/label-tested.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      max-width: 360px;
      position: absolute;
      top: 10%;
      right: 10%;
      width: 35%;
      height: 10%;
    }
  }
  @include element(sticker) {
    background-image: url("../gfx/octenicare-sticker-min.png");
    background-position: right;
    @include mobile() {
      background-position: center;
    }

    &:before {
      padding-bottom: 70%;
    }
  }
  @include element(sample) {
    background-image: url("../gfx/octenicare-box.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 360px;

    &:before {
      padding-bottom: 100%;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 25%;
      background-image: url("../gfx/label-try.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      max-width: 360px;
      position: absolute;
      top: 25%;
      right: 0;
      width: 35%;
      height: 10%;
    }
  }
  @include element(natural) {
    background-image: url("../gfx/label-natural.svg");
    background-position: center 33%;
    max-width: 240px;

    &:before {
      padding-bottom: 70%;
    }
  }
  @include element(krem) {
    background-image: url("../gfx/octenicare-krem-pwr-min.png");
    background-position: center center;
    max-width: 270px;
    margin-bottom: 30px;

    &:before {
      padding-bottom: 150%;
    }
  }
}
@keyframes myRotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
