@import url(//fonts.googleapis.com/css?family=Lato:300,700);
@import url(//fonts.googleapis.com/css?family=Caveat:400);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

$icons: 'Material Icons';
$lato: 'Lato', sans-serif;
$caveat: 'Caveat', cursive;
// $caveat-brush: 'Caveat Brush', serif;
