.footer {
  background: $color-oct-blue;
  padding: 60px 0;
  margin-top: 15px;
  color: $color-white;
  font-size: small;
  font-weight: bold;
  @include element(right) {
    background: url("../gfx/logo-schulke-wh.svg") 95% 25% no-repeat;
    background-size: contain;
    margin-top: 15px;
    height: 15px;
  }
  @include element(link) {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  a.footer--pink,
  a:link {
    &:link,
    &:visited {
      color: $color-oct-pink;
    }

    &:active,
    &:focus,
    &:hover {
      color: $color-white;
    }
  }

  a.footer--white,
  a:link {
    &:link,
    &:visited {
      color: $color-white;
    }

    &:active,
    &:focus,
    &:hover {
      color: $color-oct-pink;
    }
  }
}
