.wpcf7-form {
  position: relative;

  p:last-of-type {
    margin-bottom: 0;
  }

  .wpcf7-recaptcha {
    > div {
      margin: 0 auto;
    }
  }

  .ajax-loader {
    margin: 15px auto !important;
    display: block !important;
  }

  .wpcf7-response-output {
    margin: 0 15px;
    font-size: 90%;
  }

  .wpcf7-not-valid-tip {
    color: $color-oct-pink;
    font-size: 12px;
    margin-top: 5px !important;
    padding-left: 30px;
  }

  .wpcf7-form-control-wrap {
    display: block;

    .wpcf7-list-item {
      position: relative;

      .wpcf7-list-item-label {
        display: none;
      }
    }

    * {
      width: 100%;
      outline: none;
      margin: 0;

      &:focus {
        outline: none;
      }
    }

    input,
    textarea {
      border: 1px solid $color-oct-blue;
      border-radius: 30px;
      padding: 15px;
    }

    textarea {
      margin-bottom: -5px;
    }
  }

  .wpcf7-form-control-wrap + .wpcf7-form-control-wrap {
    margin: 30px 0;
  }

  .checkbox {
    font-size: 14px;

    &:before {
      border: 1px solid $color-oct-blue;
    }
  }

  .wpcf7-form-control {
    color: $color-oct-blue;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    &:before {
      content: "\f147";
    }
  }

  label {
    padding-left: 30px;
    cursor: pointer;
    text-align: left;

    &:before {
      border-radius: 30px;
      content: '';
      color: $color-oct-pink;
      font-family: dashicons;
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $color-oct-blue;
      left: 0;
      line-height: 20px;
      font-size: 28px;
      display: flex;
      justify-content: center;
    }
  }
}
