.container {
  max-width: 960px;
}

.v-center {
  align-items: center;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8 {
  height: 100%;
  margin-bottom: 15px;
  @include mobile() {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.noHeight {
  height: unset;
}
@include mobile() {
  .row > .col-md-6 + .col-md-6 {
    margin-bottom: 0;
  }
}

.col-3 + .col-5,
.col-4 + .col-4,
.col-4 + .col-5,
.col-4 + .col-6,
.col-4 + .col-8,
.col-5 + .col-4,
.col-6 + .col-2,
.col-8 + .col-4 {
  @include mobile() {
    margin-top: 15px;
  }
}

.text-left,
.text-right {
  @include mobile() {
    text-align: center !important;
  }
}
