.header {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background: $color-white;
  width: 100%;
  z-index: 11;

  .container {
    margin-bottom: 15px;
  }
  @include element(left) {
    background: url("../gfx/nowosc.svg") 50% 0 no-repeat;
    background-size: contain;
    height: 75px;
    margin-bottom: 0;
    @include mobile() {
      display: none;
    }
  }
  @include element(center) {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0;
    @include mobile() {
      margin-top: 0 !important;
      margin-bottom: 15px !important;
    }

    &:before {
      content: '';
      display: block;
      background: url("../gfx/logo-octenicare.svg") 50% 25% no-repeat;
      background-size: contain;
      margin-top: 15px;
      height: 45px;
      width: 240px;
    }

    &:after {
      content: '';
      display: block;
      background: url("../gfx/claim-octenicare.svg") 50% 100% no-repeat;
      background-size: contain;
      height: 20px;
      width: 270px;
    }
  }
  @include element(right) {
    background: url("../gfx/logo-schulke.svg") 50% 25% no-repeat;
    background-size: contain;
    margin-top: 30px;
    height: 25px;
    @include mobile() {
      height: 15px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    @include tablet() {
      height: 15px;
    }
  }
  @include element(link) {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.mainNav {
  background: $color-white;
  height: 45px;
  position: relative;
  display: table;
  width: 100%;
  z-index: 15;
  @include element(burger) {
    display: none;
  }
  @include element(label) {
    background: url("../gfx/burger.svg") 50% 50% no-repeat;
    background-size: contain;
    display: none;
    cursor: pointer;
    height: 22.5px;
    left: 15px;
    margin: 0;
    width: 30px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 9;
    @include mobile() {
      display: block;
    }
  }
  @include element(container) {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    @include mobile() {
      display: none;
    }
  }
}

.mainNav__burger:checked ~ .mainNav__container {
  @include mobile() {
    display: block;
  }
}

.navItem {
  list-style-type: none;
  padding: 10px;
  @include element(link) {
    &:link,
    &:visited {
      color: $color-oct-blue;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }

    &:active,
    &:focus,
    &:hover {
      background: none;
      color: lighten($color-oct-pink, 10%);
    }
    @include mobile() {
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
  }
  @include modifier(blue) {
    .navItem__link {
      color: $color-oct-blue;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        background: none;
        color: lighten($color-oct-blue, 10%);
      }
    }
  }
}
