@import "./node_modules/bootstrap-scss/bootstrap.scss";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";
@import "./_grid.scss";
@import "./_header.scss";
@import "./_content.scss";
@import "./_footer.scss";
@import "./_form.scss";

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
html {
  position: relative;
  height: 100%;
  background: $color-white;
  color: $color-oct-blue;
  font-family: $lato, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

.btn-none {
  display: none;
}

a,
li {
  transition: all 0.25s ease-in-out;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:link,
  &:visited {
    color: $color-oct-pink;
  }

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
    text-decoration: none;
    color: $color-oct-blue;
  }
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

b,
strong {
  font-weight: bold;
}

.article {
  @include modifier(single) {
    margin-bottom: 30px;
  }
}

.img {
  @include element(featuredWrap) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  @include modifier(featured) {
    border-radius: 100%;
    display: block;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 105%;
      height: 105%;
      position: absolute;
      left: -2.5%;
      top: -2.5%;
      background: url("../gfx/circ-blue.svg") 50% 50% / contain no-repeat;
    }
  }
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  @include modifier(intro) {
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 15px;
  }
  @include element(section) {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
  }
  @include modifier(caveat) {
    font-family: $caveat;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    display: block;
    margin: 0;
  }
  @include modifier(feat) {
    display: inline-block;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 30px;
    font-size: 40px;

    &:after {
      @include underline;
    }
  }
  @include modifier(subtitle) {
    font-weight: bold;
    font-size: 24px;
    text-transform: none;
    line-height: 1;
    display: block;
  }
  @include modifier(brushed) {
    font-family: $caveat;
    font-size: 24px;
    color: $color-oct-pink;
    text-transform: none;
    margin: 0;

    &:after {
      @include underline;
    }
  }
  @include modifier(subbed) {
    font-weight: normal;
    text-transform: none;
    color: $color-oct-blue;
    line-height: 1;
    display: block;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
  }
  @include modifier(subtxt) {
    font-weight: bold;
    text-transform: none;
    line-height: 1;
    display: block;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-oct-blue;
}

.w3eden a.btn-primary:not(.btn-simple) {
  color: $color-oct-blue !important;

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    box-shadow: none !important;
    color: $color-white !important;
  }
}

.wpdm-link-tpl {
  .pull-left {
    display: none;
  }

  .media-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .ptitle {
      display: none;
    }

    strong {
      display: flex;
      justify-content: center;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wpdm-download-link {
      @include btn-download;

      &:after {
        padding-left: 7.5px;
        font-family: $icons;
        content: 'receipt';
        font-size: 20px;
      }

      .label {
        display: none;
      }
    }
  }
}
