@import "./_variables.scss";
@import "./_fonts.scss";
/* grid */
@mixin mk-container($gutter: $grid-gutter-width) {
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 1170px;
  }
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix;
}
/* media */
@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
/* bem */
@mixin element($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}
@mixin modifier($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}
@mixin trans {
  transition: all 0.3s;
}
@mixin btn {
  @include trans;
  border-radius: 30px;
  padding: 15px 20px;
  margin-top: 30px;
  cursor: pointer !important;

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none !important;
  }
}
@mixin btn-primary {
  background: $color-red;
  border: 1px solid $color-red;
  box-shadow: inset 0 0 15px darken($color-red, 10%);
  color: $color-white;
  font-size: 16px;
  padding: 10px 15px;

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    color: $color-white;
    border: 1px solid darken($color-red, 5%);
    background: darken($color-red, 5%);
    box-shadow: inset 0 0 15px darken($color-red, 15%);
    outline: 0;
  }

  &[disabled] {
    &:focus,
    &:hover {
      border: 1px solid darken($color-red, 5%);
      background: darken($color-red, 5%);
    }
  }
}
@mixin btn-download {
  @include btn;
  margin: 0;
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $color-oct-blue !important;
  border: 1px solid $color-oct-blue;
  font-family: $lato !important;
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  background: transparent;

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    background: $color-oct-blue;
    color: $color-white !important;
  }
}
@mixin underline {
  content: "";
  display: block;
  width: 125%;
  padding-bottom: 15px;
  position: absolute;
  bottom: -10px;
  left: -15px;
  background: url("../gfx/underline-pink.svg") 0 50% no-repeat;
  background-size: contain;
}
