$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1200px;
$desktop-min: 1201px;

$color-fb: #3b5998;
$color-4y: #336699;
$color-black: #111;
$color-black-trans: rgba(0,0,0,0.5);
$color-sub-black: #222;
$color-white: #fff;
$color-white-trans: rgba(255,255,255,0.75);
$color-red: #c10000;
$color-gray: #666;
$color-silver: #ccc;
$color-silver-lite: #eee;

$color-oct-pink: #ed2865;
$color-oct-blue: #2483c5;
